/*header*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 165px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  color: #505f98;
  font-size: 14px;
  font-weight: var(--text-weight, 400);
  line-height: 24px;
  text-align: left;
  border-bottom: 1px solid transparent;
}

.nav-link:hover {
  border-bottom: 1px solid #505f98;
}

.header__logo {
  padding-right: 66px;
}

.logo-link {
  color: #37447e;
  font-size: 26px;
  font-weight: 900;
  line-height: 38px;
}

.cta {
  display: flex;
  align-items: center;
}

.cta-button {
  background-color: var(--dark-btn-bg-color, #111b47);
  color: var(--dark-btn-text-color, #fff);
  font-size: 12px;
  font-weight: var(--button-font-weight, 500);
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  padding: 4px 56px;
  border-radius: 2px;
}

/*background__container*/

.background__container {
  background: url(../images/background_image.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
}

/*hero*/

.hero {
  padding: 242px 165px 395px 165px;
}

.hero__content {
  max-width: 50%;
}

.hero__title {
  color: var(--title-color, #091133);
  font-size: 50px;
  font-weight: var(--title-weight, 500);
  line-height: 66px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #505f98;
  font-size: 18px;
  font-weight: var(--text-weight, 400);
  line-height: 30px;
  margin-bottom: 65px;
}

.hero__buttons {
  display: flex;
  gap: 30px;
}

.hero__button {
  border-radius: 2px;
  font-size: 16px;
  font-weight: var(--button-font-weight, 500);
  line-height: 26px;
  text-align: center;
}

.hero__button--primary {
  padding: 4px 39px;
  background-color: var(--dark-btn-bg-color, #111b47);
  color: var(--dark-btn-text-color, #ffffff);
}

.hero__button--secondary {
  padding: 4px 50px;
  background-color: transparent;
  color: var(--title-color, #091133);
  border: 2px solid var(--title-color, #091133);
}

/*features*/

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 148px 165px;
  background: url(../images/features_background.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 735px center;
}

.features__item {
  max-width: 50%;
}

.features__title {
  color: var(--title-color, #091133);
  font-size: var(--title-size, 36px);
  font-weight: var(--title-weight, 500);
  line-height: 48px;
  margin-bottom: 16px;
}

.features__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--text-color, #6f7cb2);
  font-size: var(--text-size, 16px);
  font-weight: var(--text-weight, 400);
  line-height: 26px;
  letter-spacing: 0px;
  margin-bottom: 82px;
}

.features__icons {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
}

.features__icon {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 11px;
}

.features__icon-title {
  color: var(--title-color, #091133);
  font-size: 16px;
  font-weight: var(--title-weight, 500);
  line-height: 26px;
}

.features__icon-text {
  color: #5d6970;
  font-size: 12px;
  font-weight: var(--text-weight, 400);
  line-height: 18px;
}

/*detailes*/

.detailes {
  padding: 182px 165px 155px 165px;
}

.detaile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url(../images/detailes_background_lotos.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 25px center;
}

.detaile__item {
  display: flex;
  flex-direction: column;
  gap: 17px;
  max-width: 447px;
}

.detaile__title {
  color: var(--title-color, #091133);
  font-size: var(--title-size, 36px);
  font-weight: var(--title-weight, 500);
  line-height: 48px;
}

.detaile__text {
  color: var(--text-color, #6f7cb2);
  font-size: var(--text-size, 16px);
  font-weight: var(--text-weight, 400);
  line-height: 26px;
  letter-spacing: 0px;
}

/*pricing*/

.pricing {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  background: rgb(231, 236, 255, 0.5);
  text-align: center;
  padding: 0 165px;
}

.pricing__title {
  color: var(--title-color, #091133);
  font-size: var(--title-size, 36px);
  font-weight: var(--title-weight, 500);
  line-height: 48px;
}

.pricing__text {
  color: var(--text-color, #6f7cb2);
  font-size: var(--text-size, 16px);
  font-weight: var(--text-weight, 400);
  line-height: 26px;
  letter-spacing: 0px;
}

.pricing__price {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 5px;
}

.pricing__amount {
  color: #222f65;
  font-size: 50px;
  font-weight: var(--title-weight, 500);
  line-height: 66px;
  letter-spacing: 1px;
}

.pricing__description {
  color: #37447e;
  font-size: var(--text-size, 16px);
  font-weight: var(--text-weight, 400);
  line-height: 26px;
  letter-spacing: 0px;
}

.pricing__button {
  width: fit-content;
  background-color: var(--dark-btn-bg-color, #111b47);
  color: var(--dark-btn-text-color, #ffffff);
  font-size: 14px;
  font-weight: var(--button-font-weight, 500);
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  padding: 4px 56px;
  border-radius: 2px;
}

/*footer*/

.footer {
  background-color: #e7ecff;
  padding: 68px 161px 32px 161px;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cdd1d4;
  padding-bottom: 40px;
}

.footer__company-name {
  color: #939ea4;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.footer__socials-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  transition: fill 0.3s;
}

.footer__socials-icon:hover {
  fill: #37447e;
  cursor: pointer;
}
