.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 29px 82px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__logo-text {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__logo-text_top,
.header__logo-text_bottom {
  display: block;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 46px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.header__nav-list-item-link {
  border-bottom: 1px solid transparent;
}

.header__nav-list-item-link:hover {
  border-bottom: 1px solid #fff;
}

.hero {
  padding: 33px 77px 115px 77px;
  color: #fff;
}

.hero__container {
  padding: 150px 66px;
  border-radius: 10px;
  background-image: url(../images/hero-image.jpg);
  background: linear-gradient(
      90deg,
      rgb(0, 0, 0) 19.464%,
      rgba(0, 0, 0, 0) 81.644%
    ),
    url(../images/hero-image.jpg);
  background-size: cover;
}

.hero__title {
  font-family: var(--title-font, "Poppins", sans-serif);
  font-size: 70px;
  font-weight: var(--title-weight, 700);
  line-height: 110%;
  text-transform: uppercase;
}

.hero__title-highlight {
  display: inline-block;
  color: #ee0000;
}

.expertise {
  padding: 0 151px 114px 151px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.expertise__title {
  color: #131313;
  font-family: var(--title-font, "Poppins", sans-serif);
  font-size: var(--title-size, 50px);
  font-weight: var(--title-weight, 700);
  line-height: 170%;
}

.expertise__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 32px;
}

.expertise__list-item {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 26px 18px 240px 24px;
  border-radius: 10px;
}

.expertise__list-item-title {
  font-family: var(--subtitle-font, "Poppins", sans-serif);
  font-size: var(--subtitle-size, 24px);
  font-weight: var(--subtitle-weight, 500);
  line-height: 130%;
  letter-spacing: 0%;
}

.expertise__list-item-text {
  font-family: var(--text-font, "Roboto", sans-serif);
  font-size: 16px;
  font-weight: var(--text-weight, 400);
  line-height: 138%;
  letter-spacing: 0%;
}

.solutions {
  background: linear-gradient(180deg, #131313 -6.32%, rgba(19, 19, 19, 0) 100%),
    url(../images/expertise-solutions.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cable {
  background: linear-gradient(180deg, #131313 -6.32%, rgba(19, 19, 19, 0) 100%),
    url(../images/expertise-servises.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.internet {
  background: linear-gradient(180deg, #131313 -6.32%, rgba(19, 19, 19, 0) 100%),
    url(../images/expertise-internet.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.phone {
  background: linear-gradient(180deg, #131313 -6.32%, rgba(19, 19, 19, 0) 100%),
    url(../images/expertise-phone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.why-choose-us {
  padding: 110px 151px;
  background-color: #f4f4f4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.why-choose-us__heading {
  padding-top: 42px;
  background: transparent;
}

.why-choose-us__heading-title {
  color: #131313;
  font-family: var(--title-font, "Poppins", sans-serif);
  font-size: var(--title-size, 50px);
  font-weight: var(--title-weight, 700);
  line-height: 134%;
  margin-bottom: 12px;
}

.why-choose-us__heading-intro {
  color: #3e3e3e;
  font-family: var(--text-font, "Roboto", sans-serif);
  font-size: var(--text-size, 18px);
  font-weight: var(--text-weight, 400);
}

.why-choose-us__item {
  background-color: #fff;
  border-radius: 10px;
  padding: 60px 22px 69px 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.why-choose-us__item-number {
  display: block;
  color: #ee0000;
  font-family: "Poppins", sans-serif;
  font-size: 58px;
  font-weight: 700;
  line-height: 53%;
  letter-spacing: 0%;
  margin-bottom: 22px;
}

.why-choose-us__item-subtitle {
  color: #5c5c5c;
  font-family: var(--subtitle-font, "Poppins", sans-serif);
  font-size: var(--subtitle-size, 24px);
  font-weight: var(--subtitle-weight, 500);
  line-height: 121%;
  margin-bottom: 6px;
}

.why-choose-us__item-text {
  color: #787878;
  font-family: var(--text-font, "Roboto", sans-serif);
  font-size: 18px;
  font-weight: var(--text-weight, 400);
  line-height: 126%;
  letter-spacing: 0%;
}

.why-choose-us__item_highlight {
  background-color: #ee0000;
}

.why-choose-us__item_highlight .why-choose-us__item-number {
  color: #fff;
}

.why-choose-us__item_highlight .why-choose-us__item-subtitle {
  color: #fff;
}

.why-choose-us__item_highlight .why-choose-us__item-text {
  color: #fff;
}
